extends layout

block content
    h1= title
    form(action="", name="loginform", method="post")
      div 
        span.label Username: 
        input#usrname
      div 
        span.label Passowrd: 
        input#passwrd
      div loginbutton
        input(type="submit", value="Login")
