extends layout

block content
  table#logo
    tr
      img(src='http://pharr-tx.gov/wp-content/uploads/2016/05/City-of-Pharr-Logo.png', alt='pharr-tx')
    tr
      div(align='center')
        h1
          i Pharr Fire-Rescue Vehicle Checklist
      hr
      h2=title
      form(action="", name="loginform", method="post")
        div
          label Username: 
            input(type='text', id='usrname')
        div 
          label Password: 
            input(type='password', id='usrpass')
        div.loginbutton
          button(type="submit", value="Login").btn.btn-default Login
