extends layout

block content
    h1= title
    hr
    p Please select the vehicle to audit:
    form(action="", name="fireform", method="post")
      div.input
        span.Vehicle 
        select(class='truckType' name='vechiclePicker')
          option(value='0' name='truck') Select a Vehicle
          option(value='1' name='truck') Truck
          option(value='2' name='brush') Brush
          option(value='3' name='rescue') Rescue
      br
      div.actions
          input(type="submit", value="Select")
