extends layout

block content
    h1= title
    hr
    p Please select the vehicle to audit:
    form(action="", name="vehicleSelect", method="POST")
      div.input
        span.Vehicle 
        select(class='truckType' id='vechiclePicker' name='vechiclePicker' required)
          option(value='') Vehicle
          option(value='truck') Truck
          option(value='brush') Brush
          option(value='rescue') Rescue
      br
      div.actions
       input(type="submit", value="Select")
