extends layout

block content
    h1= title
    form(action="", name="fireform", method="post")
      hr
      p Please select the vehicle to audit:
      div.input
        span.Vehicle 
        select#truckType
          option(value='truck' name='truck') Truck
          option(value='brush' name='brush') Brush
          option(value='rescue' name='rescue') Rescue
      br
      div.actions
          input(type="submit", value="Select")
