extends layout

block content
  table#logo
    tr
      div(align='center')
        img(id='cityLogo', src='http://pharr-tx.gov/wp-content/uploads/2016/05/City-of-Pharr-Logo.png', alt='pharr-tx')
    tr
      div(align='center')
        h1
          b
            i Pharr Fire-Rescue Vehicle Checklist
        br
      hr
      h2= title
      p Please select the vehicle to audit:
      form(action="", name="vehicleSelect", method="POST")
        div.form-group
          span.Vehicle 
          select(class='form-control' id='vechiclePicker' name='vechiclePicker' required)
            option(value='')
            option(value='truck') Truck
            option(value='brush') Brush
            option(value='rescue') Rescue
        div.actions
         button(type="submit", value="Select").btn.btn-default Select
