extends layout

block content
    h1= title
    hr
    p Please select the vehicle to audit:
    form(action="", name="fireform", method="post")
      div.input
        span.Vehicle 
        select(class='truckType' name='vechiclePicker')
          option Select a Vehicle
          option(value='truck') Truck
          option(value='brush') Brush
          option(value='rescue') Rescue
      br
      div.actions
          input(type="submit", value="Select")
