body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainData{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.mainTr, .mainTd{
  border: 1px solid #ddd;
  text-align: center;
  height: 40px;
}

button{
  margin: 10px !important;
}
.form-control{
  width: auto !important;
}
#auditrbox{
  width: 350px !important;
}
#auditrbox, #enginebox, #shifts, #stations{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: auto;
}
#nameid{
  float: left;
}
#droptabler{
  border-width: 0px;
  width: 65%;
  border-collapse: collapse;
  table-layout: fixed;
}
#qtyid{
  float: right;
  margin-right: 25px;
  width: auto !important;
}
#dropCheck{
  float: left;
  margin-left: 10px;
}
#textareaDiv{
  margin-top: 35px;
  margin-left:285px;
}
#cityLogo{
  : center;
  height: auto !important;
  width: 350px !important;
}
