body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: center;
    height: 40px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 50%;
    overflow: hidden;

}
button  {
  margin: 10px !important;
};
